/* a {
  color: black;
} */

/* a:hover,
a.active {
  color: white;
  background-color: #cc4646;
} */

body {
  height: 98%;
  width: 98%;
  background-color: rgb(235, 224, 225);
  border: 4px double #130505;
  padding: 20px;
  margin: 1px auto 1px auto;
}

img {
  border-radius: 50%;
  /* height: fit-content; */
}

.top-4 {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:fit-content
}

#logo {
  width: 150px;
  margin: 10px auto 10px auto;
}

.logo {
  border-radius: 50px;
}


#navigation {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

#navigation > li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 20px;
  margin: 0px 3px;
  min-width: 90px;
  display: flex;
  align-items: center;
  height: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 10px #777777;
  border-radius: 10px;

}

.active > a {
  color: #cc4646;
  background-color: white;
}

.active > a:hover {
  color: wheat;
}

a:link {
  text-decoration: none;
}

/* a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline; */

/* li {
  margin: 0px 3px;
  min-width: 90px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
} */
/* 
li:hover {
  background-color: white;
}

li.active {
  background-color: white;
} */

h1 {
  font-size: 45px;
  color: black;
  background-color: rgb(238, 215, 228);
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #777777;
}

h2 {
  color: black;
  background-color: rgb(238, 215, 228);
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  letter-spacing: 2px;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #777777;
}

table {
  border-spacing: 5px;
  height: 50%;
  width: 50%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

tr.head th {
  color: black;
  text-align: center;
  background-color: palegoldenrod;
  border-top: 2 px solid black;
  border-bottom: 2px solid lightslategray;
  border-right: 2px solid lightslategray;
  border-left: 2px solid lightslategray;
  border-top: 2px solid lightslategray;
  text-shadow: -1px 1px;
  letter-spacing: 0.15em;
  font-size: 40px;
  padding: 5px 30px 5px 10px;
 
}

tr.even td:hover {
  background-color: lavenderblush;
}


td:hover {

    background-color: lightgray;

}


td {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #130505;
  font-size: 30px;
  letter-spacing: 0.15em;
  padding: 8px;
  text-align: left;
  background-color: papayawhip;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td a:hover {
  background: white;
}

td a {
  color: black;
  background-color: pink;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

div {
    border-bottom: 1px solid rebeccapurple;
    margin: 10px;
    padding-bottom: 10px;
    width: 260px;
}

fieldset {
  width: 600px;
  border: 1px solid salmon;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  background-color: rgb(245, 202, 197);
}

.title {
  font-size: 17px;
    float: left;
    width: 160px;
    clear: left;
    text-align: left;
    padding-right: 10px;
}

legend {
  color: blueviolet;
  background-color: lightgoldenrodyellow;
  border: 2px solid #e46969;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}

input[type="text"] {
    width: 250px;
    border: 1px salmon;
    padding: 2px;
    background-color: white;
}

input[type="text"]:focus, input[type="text"]:hover {
    background-color: lightgoldenrodyellow;
    border: 1px solid #999999;
}

input[type=submit] {
    border: 1px solid #006633;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    color: red;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
}

input[type=submit]:hover {
    border: 1px solid #006633;
    background-color: white;
    color: #cc4646;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    background-color: papayawhip;
    border-radius: 15px;
}

.submit {
    width: 310px;
    text-align: right;
    font-size: 10px;
}

li:hover {
  background-color: white;
}

.h1pages {
  color: blue;
  background-color: rgb(238, 215, 228);
  text-align: center;
  margin: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 40px;
  border: 2px solid red;
  border-radius: 10px;
}

.h2-pages {
  color: black;
  text-shadow: #777777;
  font-style:oblique;
  font-size: 30px;
 
}

.page2,
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: black;
  font-size: 25px;
}

ul.unordered {
  list-style-type: square;
  color: black;
  letter-spacing: 0.1em;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-weight: bold;
}

h4 {
  font-style: italic;
  font-size: 20px;
}

h4 > a {
  color: #cc4646;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h4 > a:hover {
  background-color: white;
}